.footer-columns{
  display:flex;
}
.footer-column{
  flex:50%;
  margin:20px;
}
header, footer{
  background-color:#9370DB;
  padding:1px;
  padding-left:10px;
}
main{
  padding:10px;
  background-color:silver;
}
.Post{
  background-color:white;
  padding:20px;
  border-radius:10px;
  margin-botton:20px;
} 
#Logo{
  font-size:40px;
  font-family: 'Lobster', cursive;
}

